@charset "UTF-8";
.splide__slide {
  background-color: #BCB5A6;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .container-user {
    max-width: 740px !important;
  }
  .main-header .logo {
    width: 100px;
    height: auto;
  }
  .nav-link-font, .contact-form h1, .why-we .why-we-div p {
    font-size: 13px !important;
  }
  .sub-header-font, .account-header p, .account-header a, .how_make .make_txt li, .catalog .catalog-categories > div, .catalog .catalog-filters .form-select, .catalog .catalog-filters .form-control, .clear-btn, .contact-form button:not(.btn-close), .contact-form label, .fav-btn, .my-btn {
    font-size: 12px !important;
  }
  .info-left .nav-link-font, .info-left .contact-form h1, .contact-form .info-left h1, .info-left .why-we .why-we-div p, .why-we .why-we-div .info-left p {
    font-size: 30px !important;
  }
  .header-btns .btn {
    width: 30px;
    height: 30px;
    padding: 6px;
  }
}
@media screen and (min-width: 1201px) {
  .header-btns .btn {
    min-height: 39px;
  }
}
* {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

main {
  min-height: calc(100vh - 356px) !important;
}

.container-user {
  max-width: 1000px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  height: 100%;
}

.underlined, .cityMain p:hover {
  text-decoration: underline;
}

.rounded {
  border-radius: 10px !important;
}

@font-face {
  font-family: "Charter";
  src: url("../assets/fonts/charter/ttf/Charter-Bold-Italic.ttf");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Charter";
  src: url("../assets/fonts/charter/ttf/Charter-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Charter";
  src: url("../assets/fonts/charter/ttf/Charter-Italic.ttf");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "Charter";
  src: url("../assets/fonts/charter/ttf/Charter-Regular.ttf");
  font-style: normal;
  font-weight: normal;
}
.my-btn {
  border-radius: 10px;
  background: black;
  color: white;
  border: 1px solid black !important;
  width: 110px;
  height: 38px;
}
.my-btn:hover {
  background: white;
  color: black;
}

.fav-btn {
  border-radius: 10px;
  background: white;
  color: black;
  border: 1px solid black !important;
  width: 39px;
  height: 39px;
}

.amiko-font, .item_info .table_property th, .item_info .table_property td, .how_make .make_txt p, .cart-buttons .promo, .cart-section .cart-item .quantity #value, .contact-form textarea, .contact-form select, .contact-form input, .card {
  font-family: "Amiko", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: white;
}

.h2-title, .contact-form h1 {
  font-size: 32px !important;
  color: black;
  margin-top: 48px;
  margin-bottom: 48px;
}

.nav-link-font, .contact-form h1, .why-we .why-we-div p {
  font-family: "Charter";
  font-weight: bold;
  line-height: normal;
  font-size: 15px;
}

.sub-header-font, .account-header p, .account-header a, .how_make .make_txt li, .catalog .catalog-categories > div, .catalog .catalog-filters .form-select, .catalog .catalog-filters .form-control, .clear-btn, .contact-form button:not(.btn-close), .contact-form label, .my-btn, .fav-btn {
  font-family: "Charter";
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
}

.pointer, .cart-section .cart-item .cart-img-top, .cityMain p:hover {
  cursor: pointer;
}

.text-italic {
  font-style: italic;
}

.active-favorite svg > path {
  fill: red !important;
}

body {
  background-color: #E9E8E8;
}

.top-header {
  min-height: 65px;
}
.top-header .sub-header-font:not(.account-header > .sub-header-font):not(.account-header > p):not(.account-header > a):not(.how_make .make_txt .account-header > li):not(.catalog .catalog-categories.account-header > div):not(.catalog .catalog-filters .account-header > .form-select):not(.catalog .catalog-filters .account-header > .form-control):not(.account-header > .clear-btn):not(.contact-form .account-header > button:not(.btn-close)):not(.contact-form .account-header > label):not(.account-header > .my-btn):not(.account-header > .fav-btn):hover, .top-header .account-header p:not(.account-header > .sub-header-font):not(.account-header > p):not(.account-header > a):not(.how_make .make_txt .account-header > li):not(.catalog .catalog-categories.account-header > div):not(.catalog .catalog-filters .account-header > .form-select):not(.catalog .catalog-filters .account-header > .form-control):not(.account-header > .clear-btn):not(.contact-form .account-header > button:not(.btn-close)):not(.contact-form .account-header > label):not(.account-header > .my-btn):not(.account-header > .fav-btn):hover, .account-header .top-header p:not(.account-header > .sub-header-font):not(.account-header > p):not(.account-header > a):not(.how_make .make_txt .account-header > li):not(.catalog .catalog-categories.account-header > div):not(.catalog .catalog-filters .account-header > .form-select):not(.catalog .catalog-filters .account-header > .form-control):not(.account-header > .clear-btn):not(.contact-form .account-header > button:not(.btn-close)):not(.contact-form .account-header > label):not(.account-header > .my-btn):not(.account-header > .fav-btn):hover, .top-header .account-header a:not(.account-header > .sub-header-font):not(.account-header > p):not(.account-header > a):not(.how_make .make_txt .account-header > li):not(.catalog .catalog-categories.account-header > div):not(.catalog .catalog-filters .account-header > .form-select):not(.catalog .catalog-filters .account-header > .form-control):not(.account-header > .clear-btn):not(.contact-form .account-header > button:not(.btn-close)):not(.contact-form .account-header > label):not(.account-header > .my-btn):not(.account-header > .fav-btn):hover, .account-header .top-header a:not(.account-header > .sub-header-font):not(.account-header > p):not(.account-header > a):not(.how_make .make_txt .account-header > li):not(.catalog .catalog-categories.account-header > div):not(.catalog .catalog-filters .account-header > .form-select):not(.catalog .catalog-filters .account-header > .form-control):not(.account-header > .clear-btn):not(.contact-form .account-header > button:not(.btn-close)):not(.contact-form .account-header > label):not(.account-header > .my-btn):not(.account-header > .fav-btn):hover, .top-header .how_make .make_txt li:not(.account-header > .sub-header-font):not(.account-header > p):not(.account-header > a):not(.how_make .make_txt .account-header > li):not(.catalog .catalog-categories.account-header > div):not(.catalog .catalog-filters .account-header > .form-select):not(.catalog .catalog-filters .account-header > .form-control):not(.account-header > .clear-btn):not(.contact-form .account-header > button:not(.btn-close)):not(.contact-form .account-header > label):not(.account-header > .my-btn):not(.account-header > .fav-btn):hover, .how_make .make_txt .top-header li:not(.account-header > .sub-header-font):not(.account-header > p):not(.account-header > a):not(.how_make .make_txt .account-header > li):not(.catalog .catalog-categories.account-header > div):not(.catalog .catalog-filters .account-header > .form-select):not(.catalog .catalog-filters .account-header > .form-control):not(.account-header > .clear-btn):not(.contact-form .account-header > button:not(.btn-close)):not(.contact-form .account-header > label):not(.account-header > .my-btn):not(.account-header > .fav-btn):hover, .top-header .catalog .catalog-categories > div:not(.account-header > .sub-header-font):not(.account-header > p):not(.account-header > a):not(.how_make .make_txt .account-header > li):not(.catalog .catalog-categories.account-header > div):not(.catalog .catalog-filters .account-header > .form-select):not(.catalog .catalog-filters .account-header > .form-control):not(.account-header > .clear-btn):not(.contact-form .account-header > button:not(.btn-close)):not(.contact-form .account-header > label):not(.account-header > .my-btn):not(.account-header > .fav-btn):hover, .catalog .top-header .catalog-categories > div:not(.account-header > .sub-header-font):not(.account-header > p):not(.account-header > a):not(.how_make .make_txt .account-header > li):not(.catalog .catalog-categories.account-header > div):not(.catalog .catalog-filters .account-header > .form-select):not(.catalog .catalog-filters .account-header > .form-control):not(.account-header > .clear-btn):not(.contact-form .account-header > button:not(.btn-close)):not(.contact-form .account-header > label):not(.account-header > .my-btn):not(.account-header > .fav-btn):hover, .top-header .catalog .catalog-filters .form-select:not(.account-header > .sub-header-font):not(.account-header > p):not(.account-header > a):not(.how_make .make_txt .account-header > li):not(.catalog .catalog-categories.account-header > div):not(.catalog .catalog-filters .account-header > .form-select):not(.catalog .catalog-filters .account-header > .form-control):not(.account-header > .clear-btn):not(.contact-form .account-header > button:not(.btn-close)):not(.contact-form .account-header > label):not(.account-header > .my-btn):not(.account-header > .fav-btn):hover, .catalog .catalog-filters .top-header .form-select:not(.account-header > .sub-header-font):not(.account-header > p):not(.account-header > a):not(.how_make .make_txt .account-header > li):not(.catalog .catalog-categories.account-header > div):not(.catalog .catalog-filters .account-header > .form-select):not(.catalog .catalog-filters .account-header > .form-control):not(.account-header > .clear-btn):not(.contact-form .account-header > button:not(.btn-close)):not(.contact-form .account-header > label):not(.account-header > .my-btn):not(.account-header > .fav-btn):hover, .top-header .catalog .catalog-filters .form-control:not(.account-header > .sub-header-font):not(.account-header > p):not(.account-header > a):not(.how_make .make_txt .account-header > li):not(.catalog .catalog-categories.account-header > div):not(.catalog .catalog-filters .account-header > .form-select):not(.catalog .catalog-filters .account-header > .form-control):not(.account-header > .clear-btn):not(.contact-form .account-header > button:not(.btn-close)):not(.contact-form .account-header > label):not(.account-header > .my-btn):not(.account-header > .fav-btn):hover, .catalog .catalog-filters .top-header .form-control:not(.account-header > .sub-header-font):not(.account-header > p):not(.account-header > a):not(.how_make .make_txt .account-header > li):not(.catalog .catalog-categories.account-header > div):not(.catalog .catalog-filters .account-header > .form-select):not(.catalog .catalog-filters .account-header > .form-control):not(.account-header > .clear-btn):not(.contact-form .account-header > button:not(.btn-close)):not(.contact-form .account-header > label):not(.account-header > .my-btn):not(.account-header > .fav-btn):hover, .top-header .clear-btn:not(.account-header > .sub-header-font):not(.account-header > p):not(.account-header > a):not(.how_make .make_txt .account-header > li):not(.catalog .catalog-categories.account-header > div):not(.catalog .catalog-filters .account-header > .form-select):not(.catalog .catalog-filters .account-header > .form-control):not(.account-header > .clear-btn):not(.contact-form .account-header > button:not(.btn-close)):not(.contact-form .account-header > label):not(.account-header > .my-btn):not(.account-header > .fav-btn):hover, .top-header .contact-form button:not(.account-header > .sub-header-font):not(.account-header > p):not(.account-header > a):not(.how_make .make_txt .account-header > li):not(.catalog .catalog-categories.account-header > div):not(.catalog .catalog-filters .account-header > .form-select):not(.catalog .catalog-filters .account-header > .form-control):not(.account-header > .clear-btn):not(.contact-form .account-header > button:not(.btn-close)):not(.contact-form .account-header > label):not(.account-header > .my-btn):not(.account-header > .fav-btn):hover:not(.btn-close), .contact-form .top-header button:not(.account-header > .sub-header-font):not(.account-header > p):not(.account-header > a):not(.how_make .make_txt .account-header > li):not(.catalog .catalog-categories.account-header > div):not(.catalog .catalog-filters .account-header > .form-select):not(.catalog .catalog-filters .account-header > .form-control):not(.account-header > .clear-btn):not(.contact-form .account-header > button:not(.btn-close)):not(.contact-form .account-header > label):not(.account-header > .my-btn):not(.account-header > .fav-btn):hover:not(.btn-close), .top-header .contact-form label:not(.account-header > .sub-header-font):not(.account-header > p):not(.account-header > a):not(.how_make .make_txt .account-header > li):not(.catalog .catalog-categories.account-header > div):not(.catalog .catalog-filters .account-header > .form-select):not(.catalog .catalog-filters .account-header > .form-control):not(.account-header > .clear-btn):not(.contact-form .account-header > button:not(.btn-close)):not(.contact-form .account-header > label):not(.account-header > .my-btn):not(.account-header > .fav-btn):hover, .contact-form .top-header label:not(.account-header > .sub-header-font):not(.account-header > p):not(.account-header > a):not(.how_make .make_txt .account-header > li):not(.catalog .catalog-categories.account-header > div):not(.catalog .catalog-filters .account-header > .form-select):not(.catalog .catalog-filters .account-header > .form-control):not(.account-header > .clear-btn):not(.contact-form .account-header > button:not(.btn-close)):not(.contact-form .account-header > label):not(.account-header > .my-btn):not(.account-header > .fav-btn):hover, .top-header .my-btn:not(.account-header > .sub-header-font):not(.account-header > p):not(.account-header > a):not(.how_make .make_txt .account-header > li):not(.catalog .catalog-categories.account-header > div):not(.catalog .catalog-filters .account-header > .form-select):not(.catalog .catalog-filters .account-header > .form-control):not(.account-header > .clear-btn):not(.contact-form .account-header > button:not(.btn-close)):not(.contact-form .account-header > label):not(.account-header > .my-btn):not(.account-header > .fav-btn):hover, .top-header .fav-btn:not(.account-header > .sub-header-font):not(.account-header > p):not(.account-header > a):not(.how_make .make_txt .account-header > li):not(.catalog .catalog-categories.account-header > div):not(.catalog .catalog-filters .account-header > .form-select):not(.catalog .catalog-filters .account-header > .form-control):not(.account-header > .clear-btn):not(.contact-form .account-header > button:not(.btn-close)):not(.contact-form .account-header > label):not(.account-header > .my-btn):not(.account-header > .fav-btn):hover {
  text-decoration: underline !important;
}

.main-header .nav li:nth-child(n):not(:last-child) {
  margin-right: 25px;
}
.main-header .nav .nav-link:hover {
  text-decoration: underline !important;
}

header .logo {
  width: 176px;
  height: 88px;
}

.info-left, .info-right {
  width: 48%;
  min-height: 390px;
  border-radius: 10px;
}

.info-right {
  background: white;
}

.info-left {
  background-color: #BCB5A6;
}
.info-left p {
  color: white;
}
.info-left .my-btn {
  width: 110px;
  height: 35.009px;
  background-color: white;
  color: black;
  border: none;
}
.info-left .my-btn:hover {
  background-color: black;
  color: white;
}

h1 {
  text-align: center;
}

.card {
  color: black;
}
.card .container-card {
  max-width: 265px;
  margin: 0 auto;
}
.card .card-title {
  font-size: 16px;
  font-weight: 700;
}
.card .card-text {
  font-size: 13px;
  max-width: 80%;
}
.card .card-img-top {
  width: 192px;
  height: 192px;
}
.card .card-subtitle {
  font-size: 11px;
  font-weight: 400;
  color: #808080;
}
.card .favorite {
  position: absolute;
  top: 39%;
  right: 15%;
}
.card .card-ranges input[type=range]::before {
  content: "";
  position: absolute;
  top: -1px;
  left: -2px;
  width: 0;
  height: 3px;
  background-color: black; /* Здесь можно изменить цвет */
  transform: translateY(-50%);
  transition: width 0.3s ease-in-out; /* Добавьте плавный переход */
  z-index: -1; /* Добавить z-index: -1 */
}
.card .count-item {
  color: black;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 0 !important;
}
.card .line {
  height: 1px;
  width: 41px;
  background-color: black;
}
.card .plus-btn, .card .minus-btn {
  cursor: pointer;
}

.filter-panel {
  display: flex;
  align-items: start;
}

.editInputs {
  display: none;
}

.show {
  display: block !important;
}

.company-text p, .company-text li {
  font-size: 18px !important;
}
.company-text img {
  width: 300px;
}

.why-we .why-we-div {
  background-color: #FFF;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
  width: 170px;
  height: 170px;
}
.why-we .why-we-div p {
  font-size: 20px;
  margin-bottom: 0;
  text-align: center;
}
.why-we .why-we-div img {
  width: 2.5em;
  margin-bottom: 10px;
}

.contact-form {
  display: flex;
  justify-content: center;
}
.contact-form h1 {
  margin-top: 0;
  margin-bottom: 0;
}
.contact-form input {
  width: 100%;
  padding: 10px !important;
  margin-top: 15px;
  margin-bottom: 15px;
  color: black;
}
.contact-form input:focus {
  border: 2px solid black;
  outline: none;
  box-shadow: none !important;
}
.contact-form select {
  width: 100%;
  padding: 10px !important;
  margin-top: 15px;
  margin-bottom: 15px;
  color: black;
}
.contact-form select:focus {
  border: 2px solid black;
  outline: none;
  box-shadow: none !important;
}
.contact-form textarea {
  padding: 10px !important;
  color: black;
}
.contact-form textarea:focus {
  outline: none;
  border: 2px solid black;
}
.contact-form button:not(.btn-close) {
  padding: 10px 15px;
  width: 200px;
  background-color: black;
  color: white;
  border-radius: 10px;
  border: none;
}

.contact-us .accordion-button:focus {
  box-shadow: none !important;
}
.contact-us .accordion-button:not(.collapsed) {
  background-color: grey !important;
  color: white;
}
.contact-us .accordion-button:not(.collapsed)::after {
  filter: brightness(0) invert(1);
}

.clear-btn {
  text-align: center;
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  color: black;
  height: 34px;
  font-size: 14px !important;
}
.clear-btn:hover {
  background-color: black;
  color: white;
}

.row {
  margin: 0;
}

.catalog h1 {
  color: #FFF;
  font-size: 24px;
  text-align: left;
  margin-bottom: 48px;
  margin-top: 48px;
}
.catalog .active-category {
  background-color: black;
  color: white !important;
}
.catalog .active-category p, .catalog .active-category img {
  color: white !important;
}
.catalog .why-we-div:hover {
  cursor: pointer !important;
  border: 1px solid black;
}
.catalog .catalog-filters .container-range {
  position: relative;
  width: 100%;
  height: 30px;
}
.catalog .catalog-filters input[type=range] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  outline: none;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
}
.catalog .catalog-filters .slider-track {
  width: 100%;
  height: 5px;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  border-radius: 5px;
  background: black;
  border: 1px solid black;
}
.catalog .catalog-filters input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px;
}
.catalog .catalog-filters input[type=range]::-moz-range-track {
  -moz-appearance: none;
  height: 5px;
}
.catalog .catalog-filters input[type=range]::-ms-track {
  appearance: none;
  height: 5px;
}
.catalog .catalog-filters input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  background-color: black;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: auto;
  border-radius: 50%;
}
.catalog .catalog-filters input[type=range]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 1.7em;
  width: 1.7em;
  cursor: pointer;
  border-radius: 50%;
  background-color: black;
  pointer-events: auto;
}
.catalog .catalog-filters input[type=range]::-ms-thumb {
  appearance: none;
  height: 1.2em;
  width: 1.2em;
  cursor: pointer;
  border-radius: 50%;
  background-color: black;
  pointer-events: auto;
}
.catalog .catalog-filters input[type=range]:active::-webkit-slider-thumb {
  background-color: #ffffff;
  border: 3px solid black;
}
.catalog .catalog-filters .form-control {
  color: black;
  border: 1px solid black;
  background-color: white !important;
}
.catalog .catalog-filters .form-select {
  color: black;
  border: unset !important;
  border-bottom: 1px solid black !important;
  background-color: unset !important;
  border-radius: unset !important;
}
.catalog .catalog-filters .form-select:focus {
  outline: black !important;
  box-shadow: none !important;
}
.catalog .catalog-filters .form-select:hover {
  cursor: pointer;
}
.catalog .catalog-filters .filter-taste {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  background-color: #D9D9D9;
  border-radius: 10px;
}
.catalog .catalog-filters .filter-taste:hover {
  background-color: black;
  color: white;
}
.catalog .catalog-categories > div {
  background-color: #808080;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: white;
  min-width: 50px;
  height: 34px;
  border-radius: 10px;
  font-size: 14px !important;
  margin-right: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.cart-section .cart-item {
  background-color: white;
  border-radius: 10px;
  height: 200px;
}
.cart-section .cart-item .item-name {
  font-size: 16px !important;
}
.cart-section .cart-item .delete {
  cursor: pointer;
  position: absolute;
  width: auto;
}
.cart-section .cart-item .delete img {
  position: relative;
  top: -80px;
  left: 925px;
  width: 18px;
  height: 18px;
}
.cart-section .cart-item .cart-img-top {
  width: 150px;
  height: 150px;
}
.cart-section .cart-item .article {
  font-size: 11px;
  font-weight: 400;
  color: #808080 !important;
}
.cart-section .cart-item .quantity #minus, .cart-section .cart-item .quantity #value, .cart-section .cart-item .quantity #plus {
  cursor: pointer;
  background-color: transparent;
  color: white;
  outline: unset !important;
  border: unset !important;
  text-shadow: unset !important;
}
.cart-section .cart-item .quantity #value {
  font-size: 13px !important;
}

.cart-buttons .promo {
  border-radius: 10px;
  height: 49px;
  width: 80%;
  border: 1px solid black;
}
.cart-buttons .end-order {
  background-color: black;
  color: white;
  border-radius: 10px;
  height: 50px;
  border: 1px solid black;
}

.how_make .make_txt li, .how_make .make_txt p {
  color: black;
  font-size: 18px;
}
.how_make .make_txt li {
  font-weight: bold;
}

.item_info .item_text .amiko-font, .item_info .item_text .table_property th, .item_info .table_property .item_text th, .item_info .item_text .table_property td, .item_info .table_property .item_text td, .item_info .item_text .card, .item_info .item_text .contact-form input, .contact-form .item_info .item_text input, .item_info .item_text .contact-form select, .contact-form .item_info .item_text select, .item_info .item_text .contact-form textarea, .contact-form .item_info .item_text textarea, .item_info .item_text .cart-section .cart-item .quantity #value, .cart-section .cart-item .quantity .item_info .item_text #value, .item_info .item_text .cart-buttons .promo, .cart-buttons .item_info .item_text .promo, .item_info .item_text .how_make .make_txt p, .how_make .make_txt .item_info .item_text p {
  color: black;
  font-size: 16px;
}
.item_info .item_text .article {
  font-size: 12px;
  font-weight: 400;
  color: #808080 !important;
}
.item_info .table_property th, .item_info .table_property td {
  color: black;
  font-size: 16px;
  padding: 15px;
}
.item_info .table_property th {
  font-weight: bold;
}
.item_info .table_property tr:first-child > th {
  border-top-left-radius: 10px;
}
.item_info .table_property tr:first-child > td {
  border-top-right-radius: 10px;
}
.item_info .table_property tr:last-child th {
  border-bottom-left-radius: 10px;
}
.item_info .table_property tr:last-child > td {
  border-bottom-right-radius: 10px;
}

.account-header p, .account-header a {
  text-decoration: unset !important;
  color: black;
}
.account-header a:hover {
  text-decoration: underline !important;
  cursor: pointer !important;
}

.acc-info h2 {
  font-size: 25px;
  margin-bottom: 15px;
}
.acc-info p, .acc-info span {
  font-family: "Amiko", sans-serif;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-size: 18px;
  color: black;
}
.article-card .article-img {
  background-color: #BCB5A6;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.article-card .article-img img {
  width: 230px;
}
.article-card .article-body {
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

footer {
  height: 356px;
  background-color: black;
  color: white;
}
footer h4 {
  font-size: 15px;
  font-weight: 700;
}
footer ul {
  padding: 0 !important;
}
footer ul li {
  list-style-type: none !important;
}
footer ul a {
  color: white;
  text-decoration: none !important;
  font-size: 14px;
  font-weight: 400;
}
footer .social-media {
  margin-right: 300px;
}
footer .social-media a:not(:last-child) {
  margin-right: 20px;
}
footer .header-footer h4 {
  margin-bottom: 19px;
}
footer .header-footer ul > li:not(:last-child) {
  margin-bottom: 16px;
}