@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 768px) {
    .why-we{
        .why-we-div{
            width: 150px !important;
            height: 150px !important;
                p{
                    font-size: 13px !important;
                }
        }
    }
    .container-user{
        max-width: 740px !important;
    }
    .main-header{
        .logo{
            width: 100px;
            height: auto;
        }
    }
    header{
        .nav-link-font{
            font-size: 13px !important;
        }
        .sub-header-font{
            font-size: 12px !important;
        }
    }
    .h2-title{
        // font-size: 32px !important;
    }   
    .info-left{
        .nav-link-font{
            font-size: 30px !important;
        }
    }
    .header-btns{
        .btn{
            width: 30px;
            height: 30px;
            padding: 6px;
        }
    }
}
@media screen and (max-width: 576px) {
    .cart-item{
        height: auto !important;
    }
    .clear-btn{
        display: none !important;
    }
    .contact-info{
        p{
            font-size: 14px !important;
        }
    }
    // .nav-link-font{
    //     font-size: 13px !important;
    // }
    // .sub-header-font{
    //     font-size: 12px !important;
    // }
}
@media screen and (max-width: 375px) {
    
}
@media screen and (min-width: 576px) {
    .cart-img-top{
        width: 150px;
        height: 150px;
    }
}

@media screen and (min-width: 1201px) {
    .header-btns{
        .btn{
            min-height: 39px;
        }
    }
}
