@import "_vars";
@import "_splide";
@import "_media";

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
main{
    min-height: calc(100vh - 356px) !important;
}
.container-user{
    max-width: 1000px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    height: 100%;
}
.underlined{
    text-decoration: underline;
}
.rounded{
    border-radius: 10px !important;
}
// Charter Bold Italic
@font-face {
    font-family: "Charter";
    src: url('../assets/fonts/charter/ttf/Charter-Bold-Italic.ttf');
    font-weight: bold;
    font-style: italic;
}
// Charter Bold 
@font-face {
    font-family: "Charter";
    src: url('../assets/fonts/charter/ttf/Charter-Bold.ttf');
    font-weight: bold;
    font-style: normal;
}
// Charter Italic
@font-face {
    font-family: "Charter";
    src: url('../assets/fonts/charter/ttf/Charter-Italic.ttf');
    font-style: italic;
    font-weight: normal;
}
// Charter Regular
@font-face {
    font-family: "Charter";
    src: url('../assets/fonts/charter/ttf/Charter-Regular.ttf');
    font-style: normal;
    font-weight: normal;
}
// Custom classses
.my-btn{
    border-radius: 10px;
    background: black;
    color: white;
    border: 1px solid black !important;
    width: 110px;
    height: 38px;
    @extend .sub-header-font;
    &:hover{
        background: white;
        color: black;
    }
}
.fav-btn{
    border-radius: 10px;
    background: white;
    color: black;
    border: 1px solid black !important;
    width: 39px;
    height: 39px;
    @extend .sub-header-font;
    
}
.amiko-font{
    font-family: 'Amiko', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: white;
}
.h2-title{
    font-size: 32px !important;
    color: black;
    margin-top: 48px;
    margin-bottom: 48px;
}
.nav-link-font{
    font-family: "Charter";
    font-weight: bold;
    line-height: normal;
    font-size: 15px;
}
.sub-header-font{
    font-family: "Charter";
    font-weight: normal;
    line-height: normal;
    font-size: 14px;
}
.pointer{
    cursor: pointer;
}
.text-italic{
    font-style: italic;
}
.active-favorite{
    svg>path{
        fill: red !important;
    }   
}
.cityMain{
    p:hover{
        @extend .underlined;
        @extend .pointer;
    }
}
body{
    background-color: #E9E8E8;
}
.top-header{
    min-height: 65px;
    .sub-header-font:not(.account-header>.sub-header-font){
        &:hover{
            text-decoration: underline !important;
        }
    }
}
.main-header{
    .nav{
        li:nth-child(n):not(:last-child){
            margin-right: 25px;
        }
        .nav-link{
            &:hover{
                text-decoration: underline !important;
            }
        }
    }
}
header{
    .logo{
        width: 176px;
        height: 88px;

    }
}
.info-left, .info-right{
    width: 48%;
    min-height: 390px;
    border-radius: 10px;
}
.info-right{
    background: white;
}
.info-left{
    p{
        color: white;
    }
    background-color: #BCB5A6;
    .my-btn{
        width: 110px;
        height: 35.009px;
        background-color: white;
        color: black;
        border: none;
        &:hover{
            background-color: black;
            color: white;
        }
    }
}
h1{
    text-align: center;
}
.card{
    height: 653px;
    @extend .amiko-font;
    color: black;
    .admin-delete{
        position: absolute;
        top: 5%;
        right: 15%;
        width: 34px;
        height: 34px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        // svg{
        //     width: 20px;
        //     height: 20px;
        // }
    }
    .favorite{
        position: absolute;
        top: 39%;
        right: 15%;
    }
    .container-card{
        max-width: 265px;
        margin: 0 auto;
    }
    .card-title{
        font-size: 16px;
        font-weight: 700;
    }
    .card-text{
        font-size: 13px;
        max-width: 80%;
        height: 51px;
        position: relative;
        hyphens: auto;
        overflow: hidden !important;
          &:after{
            content: "";
            text-align: right;
            position: absolute;
            bottom: 0;
            right: 0;
            width: 70%;
            height: 1.2em;
            background: linear-gradient(to right, rgba(255, 255, 255, 0), white 100%);
            pointer-events: none;
          }
    }
    .card-img-top{
        width: 192px;
        height: 192px;
    }
    .card-subtitle{
        font-size: 11px;
        font-weight: 400;
        color: #808080;
    }
    .card-ranges{
        .wrapper{
            position: relative;
            z-index: 5;
            input[type='range']::-webkit-slider-thumb {
                z-index: 100 !important;
                background-color: black;
            }
            .progress-tox, .progress-den{
                    position: absolute;
                    content:'';
                    width: 50%;
                    border-radius: 10px;
                    height: 8px;
                    background-color: black;
                    top: 28%;
                    z-index: 1;
            }
        }
        // input[type="range"]::before {
        //     content: "";
        //     position: absolute;
        //     top: -1px;
        //     left: -2px;
        //     width: 0;
        //     height: 3px;
        //     background-color: black; /* Здесь можно изменить цвет */
        //     transform: translateY(-50%);
        //     transition: width 0.3s ease-in-out; /* Добавьте плавный переход */
        //     z-index: -1; /* Добавить z-index: -1 */
            
        // }
          
    }
    .count-item{
        color: black;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 0 !important;
    }
    .line{
        height: 1px;
        width: 41px;
        background-color: black;
    }
    .plus-btn, .minus-btn{
        cursor: pointer;
    }
}
.filter-panel{
    display: flex;
    align-items: start;
}
.editInputs{
    display: none;
}
.show{
    display: block !important; 
}
.company-text {
    p, li{
        font-size: 18px !important;
    }
    img{
        width: 300px;    
    }

}
.why-we{
    .why-we-div{
        background-color: #FFF;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 30px;
        width: 170px;
        height: 170px;
        p{
            @extend .nav-link-font;
            font-size: 20px;
            margin-bottom: 0;
            text-align: center;
            // margin: 0 auto;
        }
        img{
            width: 2.5em;
            margin-bottom: 10px;
        }
    }
}
.contact-form{
    display: flex;
    justify-content: center;
    h1{
        @extend .nav-link-font;
        @extend .h2-title;
        margin-top: 0;
        margin-bottom: 0;
    }
    label{
        @extend .sub-header-font;
    }
    input{
        width: 100%;
        padding: 10px !important;
        margin-top: 15px;
        margin-bottom: 15px;
        @extend .amiko-font;
        color: black;
        &:focus{
            border: 2px solid black;
            outline: none;
            box-shadow: none !important;
        }
    }
    select{
        width: 100%;
        padding: 10px !important;
        margin-top: 15px;
        margin-bottom: 15px;
        @extend .amiko-font;
        color: black;
        &:focus{
            border: 2px solid black;
            outline: none;
            box-shadow: none !important;
        }
    }
    textarea{
        padding: 10px !important;
        @extend .amiko-font;
        color: black;
        &:focus{
            outline: none;
            border: 2px solid black;
        }
    }
    button:not(.btn-close){
        padding: 10px 15px;
        width: 200px;
        background-color: black;
        color: white;
        border-radius: 10px;
        border: none;
        @extend .sub-header-font;
    }

}
.contact-us{
    .accordion-button:focus{
        box-shadow: none !important;
    }
    .accordion-button:not(.collapsed){
        background-color: grey !important;  
        color: white; 
    }
    .accordion-button:not(.collapsed)::after {
        filter: brightness(0) invert(1);
    }
}
.clear-btn {
    text-align: center;
    background-color: white; 
    border-radius: 10px; 
    border: 1px solid black;
    color: black;
    height: 34px;
    font-size: 14px !important;
    @extend .sub-header-font;
    &:hover{
        background-color: black;
        color: white;
    }
}
.row{
    margin: 0 ;
}
.catalog{
        h1{
            color: #FFF;
            font-size: 24px;
            text-align: left;
            margin-bottom: 48px;
            margin-top: 48px;
        }
        .active-category{
            background-color: black;
            color: white !important;
            p{
                color: white !important;
            }
            img{
                fill: white !important;
            }
        }
        
        .why-we-div:hover{
            cursor: pointer !important;
            border: 1px solid black;
    }
    .catalog-filters{
        
        .container-range{
            position: relative;
            width: 100%;
            height: 30px;
        }
        input[type="range"]{
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            width: 100%;
            outline: none;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            background-color: transparent;
            pointer-events: none;
        }
        .slider-track{
            width: 100%;
            height: 5px;
            position: absolute;
            margin: auto;
            top: 0;
            bottom: 0;
            border-radius: 5px;
            background: black;
            border: 1px solid black;
        }
        input[type="range"]::-webkit-slider-runnable-track{
            -webkit-appearance: none;
            height: 5px;
        }
        input[type="range"]::-moz-range-track{
            -moz-appearance: none;
            height: 5px;
        }
        input[type="range"]::-ms-track{
            appearance: none;
            height: 5px;
        }
        input[type="range"]::-webkit-slider-thumb{
            -webkit-appearance: none;
            height: 1em;
            width: 1em;
            background-color: black;
            cursor: pointer;
    
            top: 50%;
            transform: translateY(-50%);
            pointer-events: auto;
            border-radius: 50%;
        }
        input[type="range"]::-moz-range-thumb{
            -webkit-appearance: none;
            height: 1.7em;
            width: 1.7em;
            cursor: pointer;
            border-radius: 50%;
            background-color: black;
            pointer-events: auto;
        }
        input[type="range"]::-ms-thumb{
            appearance: none;
            height: 1.2em;
            width: 1.2em;
            cursor: pointer;
            border-radius: 50%;
            background-color: black;
            pointer-events: auto;
        }
        input[type="range"]:active::-webkit-slider-thumb{
            background-color: #ffffff;
            border: 3px solid black;
        }
        .form-control{
            color: black;
            border: 1px solid black;
            background-color: white !important;
            @extend .sub-header-font;
        }
        .form-select{
            color: black;
            border: unset !important;
            border-bottom: 1px solid black !important;
            background-color: unset !important;
            @extend .sub-header-font;
            border-radius: unset !important;
            &:focus{
                outline: black !important;
                box-shadow: none !important;
            }
            &:hover{
                cursor: pointer;
            }
        }
        .filter-taste{
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100px;
            height: 100px;
            background-color: #D9D9D9;
            border-radius: 10px;
            &:hover{
                background-color: black;
                color: white;
            }
        }
    }
    .catalog-categories{
        >div{
            background-color: #808080;
            display: inline-flex;
            justify-content: center;
            align-items: center;
            @extend .sub-header-font;
            color: white;
            // padding-left: 10px;
            // padding-right: 10px;
            min-width: 50px;
            height: 34px;
            border-radius: 10px;
            font-size: 14px !important;
            margin-right: 15px;
            margin-top: 15px;
            cursor: pointer;
        }
    }
}
.cart-section{
    .cart-item{
        background-color: white;
        border-radius: 10px;
        height: 200px;
        .item-name{
            font-size: 16px !important;
        }
        .delete{
            cursor: pointer;
            position: absolute;
            width: auto;
            img{
                position: relative;
                top: -80px;
                left: 925px;
                width: 18px;
                height: 18px;
            }
        }
        .cart-img-top{
            width: 150px;
            height: 150px;
            @extend .pointer;
        }
        .article{
            font-size: 11px;
            font-weight: 400;
            color: #808080 !important;
        }
        .quantity{
            #minus, #value, #plus{ 
                cursor: pointer;
                background-color: transparent;
                color: white;
                outline: unset !important;
                border: unset !important;
                text-shadow: unset !important;
            }
            #value{
                font-size: 13px !important;
                @extend .amiko-font;
            }
        }
    }   
}
.cart-buttons{
    .promo{
        @extend .amiko-font;
        border-radius: 10px;
        height: 49px;
        width: 80%;
        border: 1px solid black;
    }
    .end-order{
        background-color: black;
        color: white;
        border-radius: 10px;
        height: 50px;
        border: 1px solid black;
    }
}
.how_make{
    .make_txt{
        li, p{
            color: black;
            font-size: 18px;
        }
        p{
            @extend .amiko-font;
        }
        li{
            font-weight: bold;
            @extend .sub-header-font;
        }
    }
}
.item_info{
    .item_text{
        .amiko-font{
            color: black;
            font-size: 16px;
        }
        .article{
            font-size: 12px;
            font-weight: 400;
            color: #808080 !important;
        }
        // @extend .sub-header-font;
        .item_property{
            
        }
    }
    .table_property{
        th, td{
            @extend .amiko-font;
            color: black;
            font-size: 16px;
            padding: 15px;
        }
        th{
            font-weight: bold;
        }
        tr:first-child{
            >th{
                border-top-left-radius: 10px;
            }
            >td{
                border-top-right-radius: 10px;
            }
        }
        tr:last-child{
            th{
                border-bottom-left-radius: 10px;
            }
            >td{
                border-bottom-right-radius: 10px;
            }
        }
    }
}
.account-header{
    p, a{
        @extend .sub-header-font;
        text-decoration: unset !important;
        color: black;
    }
    a:hover{
        text-decoration: underline !important;
        cursor: pointer !important;
    }
}
.acc-info{
    h2{
        font-size: 25px;
        margin-bottom: 15px;
    }
    p, span{
        font-family: 'Amiko', sans-serif;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        font-size: 18px;
        color: black;
    }
    a{
        // @extend .amiko-font;
        // color: black;
        // font-size: 18px;
    }
}
.article-card{
    .article-img{
        background-color: #BCB5A6; 
        border-top-left-radius: 10px; 
        border-top-right-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            width: 230px;
        }
    }
    .article-body{
        background-color: white; 
        border-bottom-left-radius: 10px; 
        border-bottom-right-radius: 10px;
    }
}
footer{
    height: 356px;
    background-color: black;
    color: white;
    h4{
        font-size: 15px;
        font-weight: 700;
    }
    ul{
        padding: 0 !important;
        li{
            list-style-type: none !important;
        }
        a{
            color: white;
            text-decoration: none !important;
            font-size: 14px;
            font-weight: 400;
        }
    }
    .social-media{
        margin-right: 300px;
        a:not(:last-child){
            margin-right: 20px;
        }
    }
    .header-footer{
        h4{
            margin-bottom: 19px;
        }
        ul>li:not(:last-child){
            margin-bottom: 16px;
        }
    }
}
