@import "_vars";

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
}
main{
    min-height: calc(100vh - 356px) !important;
}
.container-user{
    max-width: 1000px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding-right: 15px;
    padding-left: 15px;
    height: 100%;
}
// Charter Bold Italic
@font-face {
    font-family: "Charter";
    src: url('../assets/fonts/charter/ttf/Charter-Bold-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}
// Charter Bold 
@font-face {
    font-family: "Charter";
    src: url('../assets/fonts/charter/otf/CharterC-Bold.otf');
    font-weight: 700;
    font-style: normal;
}
// Charter Italic
@font-face {
    font-family: "Charter";
    src: url('../assets/fonts/charter/otf/Charter-Italic.otf');
    font-style: italic;
    font-weight: normal;
}
// Charter Regular
@font-face {
    font-family: "Charter";
    src: url('../assets/fonts/charter/otf/Charter-Regular.otf');
    font-style: normal;
    font-weight: normal;
}
// Custom classses
.my-btn{
    border-radius: 10px;
    background: #9A9370;
    border-color: unset !important;
    &:hover{
        background: black;
        color: white;
    }
}
.amiko-font{
    font-family: 'Amino', sans-serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    color: white;
}
.h2-title{
    font-size: 24px !important;
    color: white;
}
.nav-link-font{
    font-family: "Charter";
    font-weight: 700;
    line-height: normal;
    font-size: 15px;
    line-height: normal;
}
body{
    background-color: #306342;
}
.top-header{
    min-height: 65px;
}
.main-header{
    .nav{
        li:nth-child(n):not(:last-child){
            margin-right: 25px;
        }
    }
}
header{
    .logo{
        width: 176px;
        height: 88px;
    }
}
.info-left, .info-right{
    width: 48%;
    min-height: 390px;
    border-radius: 10px;
}
.info-right{
    background: #9A9370;
}
.info-left{
    background-color: white;
    .my-btn{
        width: 110px;
        height: 35.009px;
    }
}
h1{
    text-align: center;
}
.card{
    @extend .amiko-font;
    color: black;
    .container-card{
        max-width: 265px;
        margin: 0 auto;
    }
    .card-title{
        font-size: 16px;
        font-weight: 700;
    }
    .card-text{
        font-size: 13px;
        max-width: 80%;
    }
    .card-img-top{
        width: 192px;
        height: 192px;
    }
    .card-subtitle{
        font-size: 11px;
        font-weight: 400;
        color: #808080;
    }
    .favorite{
        position: absolute;
        top: 40%;
        right: 15%;
    }
    
    .card-ranges{
        input[type="range"]::before {
            content: "";
            position: absolute;
            top: -1px;
            left: -2px;
            width: 0;
            height: 3px;
            background-color: black; /* Здесь можно изменить цвет */
            transform: translateY(-50%);
            transition: width 0.3s ease-in-out; /* Добавьте плавный переход */
            z-index: -1; /* Добавить z-index: -1 */
        }
          
    }
    .count-item{
        color: black;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin-bottom: 0 !important;
    }
    .line{
        height: 1px;
        width: 41px;
        background-color: black;
    }
    .plus-btn, .minus-btn{
        cursor: pointer;
    }
}
.filter-panel{
    display: flex;
    align-items: start;
}
.editInputs{
    display: none;
}
.show{
    display: block !important; 
}
.company-text {
    p{
        float: right;
    }
    img{
        width: 300px;    
    }

}
.contact-form{
    display: flex;
    justify-content: center;
    input{
        width: 300px;
        padding: 10px !important;
        margin-top: 15px;
        margin-bottom: 15px;

    }
    textarea{
        padding: 10px !important;

    }
    button{
        padding: 10px 15px;
        width: 200px;
        background-color: black;
        color: white;
    }

}
footer{
    height: 356px;
    background-color: black;
    color: white;
    h4{
        font-size: 15px;
        font-weight: 700;
    }
    ul{
        padding: 0 !important;
        li{
            list-style-type: none !important;
        }
        a{
            color: white;
            text-decoration: none !important;
            font-size: 14px;
            font-weight: 400;
        }
    }
    .social-media{
        margin-right: 300px;
        a:not(:last-child){
            margin-right: 20px;
        }
    }
    .header-footer{
        h4{
            margin-bottom: 19px;
        }
        ul>li:not(:last-child){
            margin-bottom: 16px;
        }
    }
}
